@import "tailwindcss";

@theme {
  --shadow-custom: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
  --shadow-button: 0px 2px 4px 0px rgba(58, 87, 232, 0.3)
  --spacing-custom: 175%;
  --color-custom: rgb(238, 238, 238);
}

body {
  background-color: #f5f6fa;
}
